<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MRMISGADBConnect" connectionString="Data Source=.\sqlexpress;Initial Catalog=signupdb;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <!--    <add name="ClubsConnect" connectionString="Data Source=184.168.194.70;User Id=misgaclubs;Password=mCb@I812;" /> -->
    <add name="ClubsConnect" connectionString="Data Source=.\sqlexpress;Initial Catalog=misgaclubs;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    
  </system.web>

</configuration>